@using Spc.Ofp.Debriefer.Dal.Common
@using WebUI.Models.ExtensionMethods
@model WebUI.Models.EvaluationSectionViewModel

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Return to details", "Details", new { id = ViewBag.Id })
</p>

<table>
    <thead>
        <tr>
            <th style="width: 20%;">Question</th>
            <th style="width: 20%;">Answer</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td colspan="3"><strong>@category.Title</strong></td>
        </tr>
        foreach (var question in category.Questions)
        {
        <tr>
            <td>@question.Text</td>
            <td>
                @if (Constraint.FreeText == question.AnswerConstraints)
                {
                    <text>@question.Answer</text>
                }
                else
                {
                    @question.RadioButton();
                }
            </td>
            <td>@question.Notes</td>
        </tr>
        }
    }
    </tbody>
</table>

<p>
    @Html.ActionLink("Return to details", "Details", new { id = ViewBag.Id })
</p>