@model WebUI.Models.DebriefingHeaderViewModel

@{
    ViewBag.Title = "Create New Debriefing";
}

@if (ViewData["flash"] != null)
{
    var alertLevel = ViewData["flash-level"] ?? "alert-error";
<div class="alert @alertLevel">
    @ViewData["flash"]
</div>
}

@using (Html.BeginForm("Create", "Debrief", FormMethod.Post, new { @class = "well"}))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create New Debriefing</legend>
        @Html.EditorFor(m => Model)
        <div class="btn-group">
            <input type="submit" name="Save" value="Save" class="btn-primary" />
            <input type="reset" name="Cancel" class="btn" />
        </div>
    </fieldset>
    
}

@section AdditionalScripts {
<script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
<script>
    $(function () {
        $(".datetime").datetimepicker({
            showOn: "button",
            buttonImage: '@Url.Content("~/Content/images/calendar-icon.png")',
            buttonImageOnly: true,
            dateFormat: 'dd-mm-y',
            altFormat: 'yy-mm-dd', // This is what gets sent on the back end
            timeFormat: 'hh:mm',
            numberOfMonths: 2
        });

        $("#VesselName").autocomplete({
            minLength: 2,
            source: '@Url.Action("Find", "Vessel")',
            select: function (event, ui) {
                $("#VesselName").val(ui.item.label);
                $("#VesselId").val(ui.item.id);
                $("#GearCode").val(ui.item.GearType);
            }
        });

        $("#ObserverFullName").autocomplete({
            minLength: 2,
            source: '@Url.Action("Find", "Staff")',
            select: function (event, ui) {
                $("#ObserverFullName").val(ui.item.label);
                $("#ObserverCode").val(ui.item.id);
            }
        });

        $("#DebrieferFullName").autocomplete({
            minLength: 2,
            source: '@Url.Action("Find", "Staff")',
            select: function (event, ui) {
                $("#DebrieferFullName").val(ui.item.label);
                $("#DebrieferCode").val(ui.item.id);
            }
        });

        var portAutoComplete = '@Url.Action("Find", "Port")';
        $("#DeparturePort").autocomplete({
            minLength: 2,
            source: portAutoComplete,
            select: function (event, ui) {
                $("#DeparturePort").val(ui.item.label);
                $("#DeparturePortId").val(ui.item.id);
            }
        });

        $("#ReturnPort").autocomplete({
            minLength: 2,
            source: portAutoComplete,
            select: function (event, ui) {
                $("#ReturnPort").val(ui.item.label);
                $("#ReturnPortId").val(ui.item.id);
            }
        });
    });
</script>
}