@model WebUI.Models.DebriefingHeaderViewModel

<h2>Debriefing Summary</h2>

<table style="width: auto;">
    <tbody>
        <tr>
            <td class="label">Observer:</td>
            <td>@Html.DisplayFor(m => m.ObserverCode)</td>
            <td class="label">Trip Number:</td>
            <td>@Html.DisplayFor(m => m.TripNumber)</td>            
        </tr>
        <tr>           
            <td class="label">Vessel:</td>
            <td>@Html.DisplayFor(m => m.VesselName)</td>
            <td class="label">Gear Code:</td>
            <td>@Html.DisplayFor(m => m.GearCode)</td>
        </tr>
        <tr>
            <td class="label">Program Code:</td>
            <td>@Html.DisplayFor(m => m.ProgramCode)</td>
            <td class="label">Country Code:</td>
            <td>@Html.DisplayFor(m => m.CountryCode)</td>
        </tr>
        <tr>
            <td class="label">Departure Date:</td>
            <td>@Html.DisplayFor(m => m.DepartureDate)</td>
            <td class="label">Departure Port:</td>
            <td>@Html.DisplayFor(m => m.DeparturePort)</td>            
        </tr>
        <tr>
            <td class="label">Return Date:</td>
            <td>@Html.DisplayFor(m => m.ReturnDate)</td>
            <td class="label">Return Port:</td>
            <td>@Html.DisplayFor(m => m.ReturnPort)</td>            
        </tr>
        <tr>
            <td class="label">Start Date:</td>
            <td>@Html.DisplayFor(m => m.StartTime)</td>
            <td class="label">End Date:</td>
            <td>@Html.DisplayFor(m => m.EndTime, new { format = "t" })</td>            
        </tr>
        <tr>
            <td class="label">Debriefer:</td>
            <td>@Html.DisplayFor(m => m.DebrieferCode)</td>
            <td class="label">Version:</td>
            <td>@Html.DisplayFor(m => m.Version)</td>            
        </tr>
        <tr>
            <td class="label">Entered By:</td>
            <td>@Html.DisplayFor(m => m.EnteredBy)</td>
            <td class="label">Entered Date:</td>
            <td>@Html.DisplayFor(m => m.EnteredDate)</td>            
        </tr>
        <tr>
            <td class="label">Status:</td>
            <td colspan="3">@Html.DisplayFor(m => m.Status)</td>
        </tr>
        <tr>
            <td class="label">Comments:</td>
            <td colspan="3">@Html.DisplayFor(m => m.Comments)</td>
        </tr>
    </tbody>
</table>

<br />

<table style="width: auto;">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Section</th>
            <th>Percent Complete</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var sectionStatus in Model.SectionStatusList)
    {
        <tr>
            <td>
                <a href='@Url.RouteUrl("BySection", new { id = Model.Id, formType = @Url.Encode(sectionStatus.Name) })'>Display</a>
                @if (!Model.IsReadOnly)
                {
                    <text>&nbsp;</text>
                    <a href='@Url.RouteUrl("EditBySection", new { id = Model.Id, formType = @Url.Encode(sectionStatus.Name) })'>Edit</a>
                }
            </td>
            <td>@sectionStatus.Name</td>
            <td>@sectionStatus.PercentComplete</td>
        </tr>
    }
    </tbody>
</table>

<p>
    @Html.ActionLink("Back to List", "Index", "Debriefing")
</p>

