@model WebUI.Models.DebriefingHeaderViewModel

<h2>Debriefing Summary</h2>

<div class="row">
    <div class="span2">@Html.LabelFor(m => m.ObserverCode)</div>
    <div class="span2">@Html.DisplayFor(m => m.ObserverCode)</div>
    <div class="span2">@Html.LabelFor(m => m.TripNumber)</div>
    <div class="span2">@Html.DisplayFor(m => m.TripNumber)</div>
</div>

<div class="row">
    <div class="span2">@Html.LabelFor(m => m.VesselName)</div>
    <div class="span2">
        @if (!String.IsNullOrEmpty(Model.VesselCountryCode))
        {
            var imgLink = @Url.Content(String.Format("~/Content/images/flags/{0}.png", Model.VesselCountryCode.ToLower()));
            <img src="@imgLink" alt="@Model.VesselCountryCode" title="@Model.VesselCountryCode" />
        }
        @Html.DisplayFor(m => m.VesselName)
    </div>
    <div class="span2">@Html.LabelFor(m => m.GearCode)</div>
    <div class="span2">@Html.DisplayFor(m => m.GearCode)</div>
</div>

<div class="row">
    <div class="span2">@Html.LabelFor(m => m.ProgramCode)</div>
    <div class="span2">@Html.DisplayFor(m => m.ProgramCode)</div>
    <div class="span2">@Html.LabelFor(m => m.CountryCode)</div>
    <div class="span2">@Html.DisplayFor(m => m.CountryCode)</div>
</div>

<div class="row">
    <div class="span2">@Html.LabelFor(m => m.DepartureDate)</div>
    <div class="span2">@Html.DisplayFor(m => m.DepartureDate)</div>
    <div class="span2">@Html.LabelFor(m => m.DeparturePort)</div>
    <div class="span2">@Html.DisplayFor(m => m.DeparturePort)</div>
</div>

<div class="row">
    <div class="span2">@Html.LabelFor(m => m.ReturnDate)</div>
    <div class="span2">@Html.DisplayFor(m => m.ReturnDate)</div>
    <div class="span2">@Html.LabelFor(m => m.ReturnPort)</div>
    <div class="span2">@Html.DisplayFor(m => m.ReturnPort)</div>
</div>

<div class="row">
    <div class="span2">@Html.LabelFor(m => m.StartTime)</div>
    <div class="span2">@Html.DisplayFor(m => m.StartTime)</div>
    <div class="span2">@Html.LabelFor(m => m.EndTime)</div>
    <div class="span2">@Html.DisplayFor(m => m.EndTime, new { format = "t" })</div>
</div>

<div class="row">
    <div class="span2">@Html.LabelFor(m => m.DebrieferCode)</div>
    <div class="span2">@Html.DisplayFor(m => m.DebrieferCode)</div>
    <div class="span2">@Html.LabelFor(m => m.Version)</div>
    <div class="span2">@Html.DisplayFor(m => m.Version)</div>
</div>

<div class="row">
    <div class="span2">@Html.LabelFor(m => m.Status)</div>
    <div class="span6">@Html.DisplayFor(m => m.Status)</div>
</div>

<div class="row">
    <div class="span2">@Html.LabelFor(m => m.Comments)</div>
    <div class="span6">@Html.DisplayFor(m => m.Comments)</div>
</div>

<br />

<table class="table table-bordered table-condensed table-striped" style="width:auto;">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Section</th>
            <th>Percent Complete</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var sectionStatus in Model.SectionStatusList)
    {
        <tr>
            <td>
                <a href='@Url.RouteUrl("BySection", new { id = Model.Id, formType = @Url.Encode(sectionStatus.Name) })'>Details</a>
                @if (!Model.IsReadOnly)
                {
                    <text>&nbsp;</text>
                    <a href='@Url.RouteUrl("EditBySection", new { id = Model.Id, formType = @Url.Encode(sectionStatus.Name) })'>Edit</a>
                }
            </td>
            <td>@sectionStatus.Name</td>
            <td>@sectionStatus.PercentComplete</td>
        </tr>
    }
    </tbody>
</table>

<p>
    @Html.ActionLink("Back to List", "Index", "Debriefing")
</p>

